<div class="wrapper-table">
    <table>
        <tr>
            <th class="pl-1 title-table">Motivo del reclamo</th>
            <th class="text-center title-table">Número de Reclamos</th>
        </tr>
        <tr>
            <td class="pl-4">
                Anulación de Transacciones
            </td>
            <td class="text-center">8</td>
        </tr>
        <tr>
            <td class="pl-4">
                Otros
            </td>
            <td class="text-center">5</td>
        </tr>
        <tr>
          <td class="pl-4">
            Transacciones no reflejadas
          </td>
          <td class="text-center">1</td>
      </tr>
        <tr>
            <td class="pl-1 black">
                <strong>Totales</strong>
            </td>
            <td class="text-center black"><strong>14</strong></td>
        </tr>
    </table>
</div>

<div class="pl-1 mt-4 mb-4">
    <h6 class="blue-text">
      Resultado de Indicador de Eficiencia casos resueltos cuarto trimestre 2022: 93%
    </h6>
    <p class="ml-4 mt-2">
        <strong>
            Tiempos máximos de resolución
        </strong>
        <br />
        Para reclamos de transacciones  locales: 30 días
        <br />
        Para reclamos de transacciones  Internacionales 120: días
        <br />
        Nota: Informacion Publicada en cumplimiento con el art.35-B de las NASF-03
    </p>
</div>
