<div fxlayout="column" class="card__container border-radius-15"
    style="flex-direction: column; box-sizing: border-box; display: flex;">
    <div class="bc-container">
        <h4 class="blue-20"> Clásica MultiPremios </h4>
    </div>
    <div fxflex="1"
        style="display: flex; flex: 1 1 100%; box-sizing: border-box;">
        <div class="flex-container-text">
            <p class="big-blue-text" style="margin-top: 22px;"> Acumula MultiPremios con tus
                compras </p>
            <p class="normal-blue-description" style="margin-top: 22px; max-width: 473px;"> La
                Tarjeta de Débito para comprar lo que desees. </p><app-list-with-left-icon
                style="display: block; margin-top: 30px; max-width: 480px;"></app-list-with-left-icon>

            <div class="container-btn-debit-card d-flex-bc">
                <button
                    routerlinkactive="router-link-active" class="btn-with-icon" style="margin-top: 20px;" tabindex="0">
                    Ver Tasas y Comisiones > <em
                        class="uil uil-angle-right-b"></em></button>

                    <button class="btn-with-icon"
                    style="margin-top: 20px;"> Más detalles > <em
                        class="uil uil-angle-right-b"></em></button>
                    </div>

                    <app-button-normal titleBtn="Solicitar Tarjeta" style="width: 150px; display: flex;" class="mt-15">
                    </app-button-normal>
        </div>
        <div class="flex-image"
            >
            <img  alt="card__image" style="object-fit: contain; width: 424px; height: 296px;"
                src="https://multimedia.bancocuscatlan.com/assets/debito/desplegable/debito-multipremios.jpg"></div>
    </div><em  fxhide.lt-lg="true" class="uil uil-angle-up card__icon"></em>
</div>