<footer class="bg-dark-blue">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-sm-12 col-md-3 mb-4 footer-logo"><a routerlinkactive="router-link-active" href="/"
                    class="router-link-active"><img alt="Banco Cuscatlán"
                        src="https://multimedia.bancocuscatlan.com/assets/images/logos_svg/Logo-Cusca-Header_white.svg"></a>
            </div>
            <div class="col col-sm-12 col-md-3">
                <ul>
                    <li><span class="footer-title">Tu Banco, Tu Futuro</span></li>
                    <li><a href="/nosotros">Acerca de Nosotros</a></li>
                    <li><a routerlinkactive="router-link-active" href="/gobierno-corporativo">Gobierno Corporativo</a>
                    </li>
                    <li><a routerlinkactive="router-link-active" href="/valores-cuscatlan">Valores CUSCATLAN</a></li>
                    <li><a href="assets/v1/educacion-financiera">Educación Financiera</a></li>
                </ul>
            </div>
            <div class="col col-sm-12 col-md-3">
                <ul>
                    <li><span class="footer-title">De interés</span></li>
                    <li><a routerlinkactive="router-link-active" href="/servicio-al-cliente">Servicio al Cliente</a>
                    </li>
                    <li><a routerlinkactive="router-link-active" href="/terminos-y-condiciones">Términos y
                            condiciones</a></li>
                    <li><a href="assets/v1/preguntas-frecuentes">Preguntas frecuentes</a></li>
                    <li><a href="https://www.sisa.com.sv/sisa/inicio">SISA</a></li>
                </ul>
            </div>
            <div class="col col-sm-12 col-md-3">
                <ul>
                    <li><span class="footer-title">Contacto</span></li>
                    <li class="d-sm-none"><a href="mailto:servicioalclientesv@bancocuscatlan.com"><em
                                class="uil uil-envelope"></em><span>
                                servicioalclientesv<span>@</span>bancocuscatlan.com</span></a></li>
                    <li class="d-sm-none"><a href="tel:+5032212-2000"><em class="uil uil-phone"></em><span>
                                2212-2000</span></a></li>
                    <li class="d-md-none"><a href="mailto:servicioalclientesv@bancocuscatlan.com"><em
                                class="uil uil-envelope"></em></a><a href="tel:+5032212-2000"><em
                                class="uil uil-phone"></em></a></li>
                </ul>
                <ul>
                    <li><span class="footer-title">Síguenos</span></li>
                    <li class="social">
                        <a href="https://www.facebook.com/bancocuscatlan.com.sv/"> <i class="fa-brands fa-square-facebook"></i> </a>
                        <a href="https://twitter.com/BancoCUSCATLAN_"><i class="fa-brands fa-twitter"></i></a>
                        <a href="https://www.instagram.com/bancocuscatlan.com.sv/"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/company/banco-cuscatlan"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="https://www.youtube.com/channel/UCbSt3fUyxx2zWGcwMh2MOEQ"><i class="fa-brands fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-footer text-center pt-2 pb-2 pl-4 pr-4"><span>Todos los derechos reservados.</span><span
            class="ml-05">©2023 Banco CUSCATLAN de El Salvador, S.A.</span></div>
</footer>