<div class="wrapper-table">
    <table>
        <tr>
            <th class="pl-1 title-table">Motivo del reclamo</th>
            <th class="text-center title-table">Número de Reclamos</th>
        </tr>
        <tr><td class="pl-4">Operaciones en cuenta no reconocidas (consumos, disposiciones, retiros, cargos, abonos y saldos)</td><td class="text-center">1676</td></tr>
        <tr><td class="pl-4">Problemas relacionados con los cajeros electrónicos (no dispensó efectivo, voucher)</td><td class="text-center">250</td></tr>
        <tr><td class="pl-4">Operaciones en cuenta( retiros y depósitos)</td><td class="text-center">168</td></tr>
        <tr><td class="pl-4">Otros motivos</td><td class="text-center">134</td></tr>
        <tr><td class="pl-4">Información en la Central de Riesgos y/ o rectificación de la información</td><td class="text-center">71</td></tr>
        <tr><td class="pl-4">Cobros de Intereses, comisiones, recargos y cargos a cuenta de terceros</td><td class="text-center">50</td></tr>
        <tr><td class="pl-4">Calidad en la atención al usuario</td><td class="text-center">49</td></tr>
        <tr><td class="pl-4">Rectificación de pago de servicios (cliente/ empresa)</td><td class="text-center">44</td></tr>
        <tr><td class="pl-4">Información sobre operaciones, productos y servicios</td><td class="text-center">10</td></tr>
        <tr><td class="pl-4">Cláusulas del contrato, pólizas, condiciones, acuerdos</td><td class="text-center">9</td></tr>
        <tr><td class="pl-4">Envío de correspondencia ( estados de cuentas, notas de cargo, cronograma de pagos, entre otros )</td><td class="text-center">6</td></tr>
        <tr><td class="pl-4">Tasas de interés, comisiones, u otras condiciones pactadas</td><td class="text-center">3</td></tr>
        <tr><td class="pl-4">Liquidaciones erradas</td><td class="text-center">2</td></tr>
        <tr><td class="pl-4">Demora o falta de la devolución de documentos valorados/ bienes</td><td class="text-center">1</td></tr>
        <tr><td class="pl-4">Problemas referidos a seguros o Información sobre el seguro contratado</td><td class="text-center">1</td></tr>
        <tr><td class="pl-4">Problemas con servicios brindados a través de canales electrónicos</td><td class="text-center">1</td></tr>
        <tr><td class="pl-4">Fallas del sistema informático que dificultan operaciones y servicios</td><td class="text-center">1</td></tr>
        <tr><td class="pl-4">Problemas de ejecución o tasación de garantías</td><td class="text-center">1</td></tr>
        <tr><td class="pl-4">Operaciones en cuenta no reconocidas (consumos, disposiciones de efectivo, retiros, cargos, abonos y saldos)</td><td class="text-center">0</td></tr>
        <tr><td class="pl-4">Cancelación de cuenta</td><td class="text-center">0</td></tr>
        <tr>
            <td class="pl-1 black">
                <strong>Total</strong>
            </td>
            <td class="text-center black"><strong>2,477</strong></td>
        </tr>
    </table>
</div>


<div class="pl-1 mt-4 mb-4">
    <h6 class="blue-text">
      Resultado de indicador de eficiencia casos resueltos cuarto trimestre 2022: 86%

    </h6>
    <p class="ml-4 mt-2">
        <strong>
            Tiempos máximos de resolución
        </strong>
        <br />
        El tiempo de resolución varía según el tipo de gestión desde los 3 hasta los 120 días.
        <br />
        Nota: Información publicada en cumplimiento con el art.46 de las Normas para la Transparencia y Divulgación de la Información de los Servicios Financieros Bancarios (NCM-02)
    </p>
</div>
