.section-principal {

    background-color: #f8f8f8;

    display: flex;
    flex-direction: row;
    gap: 75px;
    align-items: center;
    justify-content: center;
    width: 880px;
    height: 500px;
    margin: 0 auto;
}

