<div class="section-principal bc-container">

    <div class="col-left">
        <p class="p5 blue-20">Tarjetas de Débito</p>
        <h2> Compra todo con tus Tarjetas de Débito </h2>
        <p class="p1 blue-00"> Úsalas y vive una experiencia de compra única. </p>
        <div class="container-btn">
            <app-button-normal [titleBtn]= "titleBtn"></app-button-normal>
        </div>
    </div>

    <div class="col-right">
        <img  alt="Tarjetas de credito" class="__img-right_sh" src="https://multimedia.bancocuscatlan.com/assets/tarjetas/debito/main.png">
    </div>
</div>