<div class="container-category ng-star-inserted">
    <h3 class="ng-star-inserted">
        <a routerlinkactive="active" href="/tarjetas" class="ng-star-inserted"> 
            Tarjetas 
            <em class="uil uil-angle-right"></em>
        </a>
    </h3>|
    <div class="category">
        <div class="category-col ng-star-inserted">
            <div class="sub-category ng-star-inserted">
                <h4>
                    <a href="/tarjetas/de-credito" class="ng-star-inserted"> 
                        Tarjetas de Crédito 
                        <em class="uil uil-angle-right-b"></em>
                    </a>
                </h4>
            </div>
        </div>
        <div class="category-col ng-star-inserted">
            <div class="sub-category ng-star-inserted">
                <h4>
                    <a href="/tarjetas/debito" class="ng-star-inserted"> 
                        Tarjetas de Débito 
                        <em class="uil uil-angle-right-b"></em>
                    </a>
                </h4>
            </div>
        </div>
    </div>
</div>