.container-category{

    display: none;
    position: absolute;
    top: 60px;
    left: -100px;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0 8px 28px #78b1b51a;
    border-radius: 10px;
    font-size: 10px;
    padding: 0 24px 14px;

}
