<ul class="list__items">
    <li class="list__item"><span class="material-symbols-outlined">
        check_circle
        </span><!----><!---->
        <div class="list__item-text"> Compra en todo el mundo sin pagar
            comisiones. </div>
    </li>
    <li class="list__item"><span class="material-symbols-outlined">
        check_circle
        </span><!----><!---->
        <div class="list__item-text"> Acumula 1 MultiPremio por cada $2
            en compras. </div>
    </li>
    <li class="list__item"><span class="material-symbols-outlined">
        check_circle
        </span><!----><!---->
        <div class="list__item-text"> Úsala desde cualquier parte del
            mundo. </div>
    </li><!---->
</ul><!----><!----><!---->