<div class="wrapper-table">
    <table>
        <tr>
            <th class="pl-1 title-table">Motivo del reclamo</th>
            <th class="text-center title-table">Número de Reclamos</th>
        </tr>
        <tr><td class="pl-4">Compras o transacciones no reconocidas por el cliente (fraudes)</td><td class="text-center">878 </td></tr>
        <tr><td class="pl-4">Acreditación o aplicación de millas o programas de fidelización de clientes.</td><td class="text-center">531 </td></tr>
        <tr><td class="pl-4">Otros motivos    </td><td class="text-center">321 </td></tr>
        <tr><td class="pl-4">Operaciones en tarjeta (retiros de efectivo y pagos)</td><td class="text-center">285 </td></tr>
        <tr><td class="pl-4">Calidad en la atención al usuario o cliente</td><td class="text-center">192 </td></tr>
        <tr><td class="pl-4">Envío de correspondencia (estados de cuentas, notas de cargo, cronograma de pagos, entre otros).</td><td class="text-center">79 </td></tr>
        <tr><td class="pl-4">Información en la Central de Riesgos que requiere rectificación de créditos de tarjetas de crédito.</td><td class="text-center">54 </td></tr>
        <tr><td class="pl-4">Cobros de membresía de tarjeta de crédito.</td><td class="text-center">38 </td></tr>
        <tr><td class="pl-4">Cobros de intereses, comisiones, recargos y cargos a cuenta de terceros</td><td class="text-center">37 </td></tr>
        <tr><td class="pl-4">Tasas de intereses, comisiones u otras condiciones pactadas.</td><td class="text-center">20 </td></tr>
        <tr><td class="pl-4">Problemas relacionados con los cajeros electrónicos (no dispensó efectivo, no emitió voucher).</td><td class="text-center">11 </td></tr>
        <tr><td class="pl-4">Información sobre operaciones, productos y servicios.</td><td class="text-center">7 </td></tr>
        <tr><td class="pl-4">Refinanciamientos, condiciones de otorgamiento, capitalización de intereses.</td><td class="text-center">5 </td></tr>
        <tr><td class="pl-4">Difusión de información de operaciones sin autorización del cliente.</td><td class="text-center">3 </td></tr>
        <tr><td class="pl-4">Fallas del sistema informático que dificultan operaciones y servicios.</td><td class="text-center">3 </td></tr>
        <tr><td class="pl-4">Cláusulas del contrato, pólizas, condiciones, acuerdos</td><td class="text-center">2 </td></tr>
        <tr><td class="pl-4">Transacciones no procesadas (incluye problemas en el funcionamiento de operaciones por Internet, problemas en diferencial cambiario, otros)</td><td class="text-center">2 </td></tr>
        <tr><td class="pl-4">Retenciones por compras no procesadas.</td><td class="text-center">1 </td></tr>
        <tr><td class="pl-4">Problemas relacionados con la tarjeta de crédito (retenida, no emitida, desactivada, bloqueada, anulada, suspendida, cancelada).</td><td class="text-center">1 </td></tr>
        <tr><td class="pl-4">Información sobre operaciones, productos y servicios</td><td class="text-center">-   </td></tr>
        <tr><td class="pl-4">Cobro de intereses por sobregiros de la tarjeta.</td><td class="text-center">-   </td></tr>
        <tr>
            <td class="pl-1 black">
                <strong>Total</strong>
            </td>
            <td class="text-center black"><strong>2,470</strong></td>
        </tr>
    </table>
</div>


<div class="pl-1 mt-4 mb-4">
    <h6 class="blue-text">
      Resultado de indicador de eficiencia casos resueltos cuarto trimestre 2022: 85%
    </h6>
    <p class="ml-4 mt-2">
        <strong>
            Tiempos máximos de resolución
        </strong>
        <br />
        Para reclamos de transacciones locales 30 días
        <br />
        Para reclamos de transacciones internacionales 120 días
        <br />
        Nota: Información publicada en cumplimiento con el art.46 de las Normas Técnicas para el Sistema de Tarjetas de Crédito (NCM-01)
    </p>

</div>
