<div class="container-fluid">

    <div class="row">
        <div class="title-eficiencia">
            <h4>Índice de eficiencia atención de gestiones Cuarto trimestre 2022</h4>
            <span>Conozca el índice de gestiones más atendidas por Banco CUSCATLAN </span>
        </div>
    </div>
    <div class="row row-acordeon">
    <div class="col acordeon">
        <div class="container-bc-lg">
            <mat-accordion>
    
                <ng-container>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Cantidad de reclamos de Tarjeta de Crédito
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ng-container>
                            <app-table-acordeon1></app-table-acordeon1>
    
                        </ng-container>
                    </mat-expansion-panel>
    
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Cantidad de reclamos de otros Productos y Servicios Financieros
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ng-container>
                            <app-table-acordeon2></app-table-acordeon2>
    
                        </ng-container>
                    </mat-expansion-panel>
    
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Cantidad de Reclamos de Corresponsales Financieros
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ng-container>
                            <app-table-acordeon3></app-table-acordeon3>
    
                        </ng-container>
                    </mat-expansion-panel>
                </ng-container>
    
            </mat-accordion>
        </div>
    </div>
</div>
</div>


