
/* Codigo General */

.section-debito {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}



// @media (max-width: 1024px) {
//     section {
//         margin-top: 50px;
//     }

// }