
/* Codigo General */

.section-debito {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.carousel-container {

    margin-top: 50px;
    width: 100%;

}


// @media (max-width: 1024px) {
//     section {
//         margin-top: 50px;
//     }

// }


.add {
    width: 100vh;
    height: 500px;
}